* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.wrapper {
  min-height: 60vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#crud {
  width: 60%;
  text-align: center;
}

#crud caption {
  background-color: #009688;
  color: #fff;
  padding: 0.3px 0;
  font-size: 1.2rem;
}

#crud thead {
  background-color: aliceblue;
}

#crud thead td {
  padding: 0.3px;
  color: #009688;
}

#crud tbody td {
  padding: 0.3px;
  border-bottom: 0.9px solid #009688;
  color: #666565;
}

#crud tbody td button,
.add-user {
  padding: 4px 6px;
  border: none;
  background: transparent;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

#crud tbody td button.edit {
  background-color: #009688;
}

#crud tbody td button.delete {
  background-color: #e91e63;
}

.add-user {
  background-color: #009688;
  margin-top: 18px;
  padding: 8px 18px;
}

.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  place-items: center;
}

.popup.active {
  display: grid;
  animation: show 0.7s ease-in-out;
}

@keyframes show {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.popup form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 75%;
  padding: 44px 14px;
}

.popup form input {
  width: 80%;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  margin: 13px 0;
  padding: 10px 13px;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.popup form input[type="submit"] {
  background-color: #009688;
  color: #fff;
  cursor: pointer;
  max-width: 80px;
}
